<header class="main-header">
            <h1 class="header-logo"><a href="/home">oCHAT</a></h1>

        <nav>
            <a href="/guilds/<%= user.main?.guild?._id %>"><h4><%= user?.main?.guild?.name %></h4></a>
            <a href="/users/profile"><h4><%= user.username %></h4></a>
        </nav>
        
</header>