<header>
    <nav>
        <a href="/home"><h1>OChat</h1></a>
        <a href="/guilds/<%= user?.main?.guild?._id %>"><h2><%= user?.main?.guild?.name %></h2></a>
        <a href="/users/profile"><%= user.username %></a>
    </nav>
    
</header>