<header class="main-header">
        <div>
            <h1 class="header-logo"><a href="/home">oCHAT</a></h1>
        </div>
        <nav>
            <a href="/guilds/<%= user.main?.guild?._id %>"><h2><%= user?.main?.guild?.name %></h2></a>
            <a href="/users/profile"><h2><%= user.username %></h2></a>
        </nav>
        
</header>