:root {
    --druid: #FF7D0A;
    --hunter: #ABD473;
    --mage: #69CCF0;
    --paladin: #F58CBA;
    --priest: #FFFFFF;
    --rogue: #FFF569;
    --shaman: #0070DE;
    --warlock: #9482C9;
    --warrior: #C79C6E;
    --guild: #3CE13F;
    --general: #FEC1C0;
    --officer: #40BC40;
    --party: #AAABFE;
    --partyLeader: #77C8FF;
    --whisper: #FF7EFF;
    --raidwarning: #FF4700;
    --raid: #FF7D01;
    --base: #363636;
}

@font-face {
    font-family: 'LifeCraft';
    src: 
     url('../fonts/LifeCraft_Font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 

body {
    background-color: var(--base);
    color: var(--guild);
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

body { font-size: 24px; } 

h1, h2, h3, h4, h5, h6 { font-weight: bold; } 
h1 { 
    font-size: 2em; 
    margin-top: 20px;
} 

h2 { 
    font-size: 1.75em;
    margin-top: 20px; 
}

h3 { 
    font-size: 1.60em; 
    margin: 0;
}

h4 { 
    font-size: 1.50em; 
    margin: 0;
}

h5 { 
    font-size: 1.40em; 
    margin: 0;
}

h6 { 
    font-size: 1.25em; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 1;
    flex-flow: row wrap;
}

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px;
    flex: 1;
}

.top-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    flex: 1;
}

input {
    margin: 10px 20px;
}

select {
    margin: 10px 20px;
}

textarea {
    margin: 10px 20px;
}

header {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

form {
    display: inherit;
}

small {
    font-size: 0.5em;
    padding: 0 0 10px 10px;
}

.header-logo {
    font-family: 'LifeCraft';
    font-size: 75px;
    color: var(--officer) !important;
}

.header-logo a {
    text-decoration: none !important;
}

.main-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 3px solid var(--officer);
    color: var(--guild);
    padding: 2.5vw;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 70vh;
    margin: 20px 20px;
    width: 95vw;
    border: 3px solid var(--officer);
    background-color: black;
}

a {
    color: inherit;
}

button {
    background-color: var(--base);
    color: var(--guild);
    margin: 10px;
    max-height: 2.5em;
}

.character {
    width: 25%;
    border: 3px solid var(--party);
    color: var(--party);
    padding: 20px;
}

ul {
    padding: 10px 10px;
}

li {
    list-style: none;
    height: 2em;
}

.roster {
    font-size: 0.75em;
    padding: 10px;
}

.main-character {
    width: 25%;
    border: 3px solid var(--partyLeader);
    padding: 20px;
    color: var(--partyLeader);
}

.Druid {
    color: var(--druid);
}

.Hunter {
    color: var(--hunter);
}

.Mage {
    color: var(--mage);
}

.Paladin {
    color: var(--paladin);
}

.Priest {
    color: var(--priest);
}

.Rogue {
    color: var(--rogue);
}

.Shaman {
    color: var(--shaman);
}

.Warlock {
    color: var(--warlock);
}

.Warrior {
    color: var(--warrior);
}

.party-leader {
    color: var(--partyLeader);
}

.party {
    color: var(--party);
}

.raid {
    color: var(--raid);
    justify-content: flex-start;
}

.guild {
    color: var(--guild);
}

.officer {
    color: var(--officer);
}

.login {
    border: 3px solid var(--party)
}

.register {
    border: 3px solid var(--partyLeader)
}

.gborder {
    border: 3px solid var(--guild);
    padding: 10px;
}

.oborder {
    border: 3px solid var(--officer);
    padding: 10px;
}

.rborder {
    border: 3px solid var(--raid);
    padding: 10px;
}

.pborder {
    border: 3px solid var(--party);
    padding: 10px;
}
.plborder {
    border: 3px solid var(--partyLeader);
    padding: 10px;
}

.inline {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.big-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.half {
    width: 45%;
}

.full {
    width: 95%;
}