<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="container rborder">
        <div class="form raid">
            <h1>Create New Raid</h1>
            <form action="/raids/createRaid/<%= guild._id %>" method="POST" class="form rborder">
                <input type="hidden" value="<%= guild._id %>" name="guild">
                <label for="date">Date</label>
                <input type="datetime-local" id="date" name="date" required>
                <br>
                <label for="lootStructure">Loot System (optional)</label>
                <input type="text" name="lootStructure" id="lootStructure">
                <br>
                <label for="location">Raid Location</label>
                <input type="text" name="location" id="location">
                <br>
                <label for="raidSize">Raid Size</label>
                <input type="number" name="raidSize" id="raidSize" required>
                <br>
                <button type="submit">Create Raid</button>
            </form>
        </div>
        
    </main>
    
</body>
</html>