<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new character</h1>
    <form action="/characters/new" method="POST">
        <input type="hidden" name="user" id="user" value="<%= user %>">
        <label for="name">Character Name</label>
        <input type="text" name="name" id="name">
        <br />
        <label for="race">Race</label>
        <select name="race" id="race">
            <option value="Blood Elf">Blood Elf</option>
            <option value="Dranei">Dranei</option>
            <option value="Dwarf">Dwarf</option>
            <option value="Gnome">Gnome</option>
            <option value="Human">Human</option>
            <option value="Night Elf">Night Elf</option>
            <option value="Orc">Orc</option>
            <option value="Tauren">Tauren</option>
            <option value="Troll">Troll</option>
            <option value="Undead">Undead</option>
        </select>
        <br />
        <label for="class">Class</label>
        <select name="class" id="class">
            <option value="Druid">Druid</option>
            <option value="Hunter">Hunter</option>
            <option value="Mage">Mage</option>
            <option value="Paladin">Paladin</option>
            <option value="Priest">Priest</option>
            <option value="Rogue">Rogue</option>
            <option value="Shaman">Shaman</option>
            <option value="Warlock">Warlock</option>
            <option value="Warrior">Warrior</option>
        </select>
        <br>
        <label for="spec">Spec</label>
        <select name="spec" id="spec">
            <option value="Restoration">Restoration</option>
            <option value="Feral">Feral</option>
            <option value="Balance">Balance</option>
            <option value="Beast Mastery">Beast Mastery</option>
            <option value="Marksmanship">Marksmanship</option>
            <option value="Survival">Survival</option>
            <option value="Arcane">Arcane</option>
            <option value="Fire">Fire</option>
            <option value="Frost">Frost</option>
            <option value="Holy">Holy</option>
            <option value="Protection">Protection</option>
            <option value="Retribution">Retribution</option>
            <option value="Discipline">Discipline</option>
            <option value="Shadow">Shadow</option>
            <option value="Assassination">Assassination</option>
            <option value="Combat">Combat</option>
            <option value="Subtelty">Subtelty</option>
            <option value="Elemental">Elemental</option>
            <option value="Enhancement">Enhancement</option>
            <option value="Affliction">Affliction</option>
            <option value="Demonology">Demonology</option>
            <option value="Destruction">Destruction</option>
            <option value="Arms">Arms</option>
            <option value="Fury">Fury</option>
        </select><br>
        <label for="level">Level</label>
        <input type="number" name="level" id="level" max="70" min="1"><br>
        <label for="realm">Realm</label>
        <input type="text" name="realm" id="realm">
        <br>
        <button type="submit">Add Character</button>
    </form>
</body>
</html>