<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <h1>Home</h1>
    <div>
        <h2>Your Guilds</h2>
        <ul>
            <% guilds.forEach((guild) => { %>
                <li><a href="/guilds/<%= guild._id %>"><%= guild.name %></a></li>
             <% }) %>
        </ul>
        
    </div>
</body>
</html>