<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <!-- <title>OChat</title> -->
</head>
<body>
    
    <header class="main-header container">
        <h1>What is OChat?</h1>
        <br>
        <h4>OChat is a website where World of Warcraft players can organize players and guilds in order to schedule raids and distribute loot.</h4>
    </header>

    <main>
        <div class="container">
            <div class="party form login">
                <h1>Login</h1>
                <p>Already a user?</p>
                <form action="/users/login" method="POST" class="top-form">
                    <div class="top-form">
                        <label for="username">Username </label>
                        <input type="text" name="username" id="username">
                        <br>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                        <br>
                        <button type="submit">Log In</button>
                    </div>
                    
                </form>
            </div>
    
            <div class="party-leader form register">
                <h1>Register</h1><p>Sign up to get started!</p>
                <form action="/register" method="POST" class="top-form">
                    <div class="top-form">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username">
                        <br>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                        <br>
                        <button type="submit">Register</button>
                    </div>
                    
                </form>
                    
            </div>
        </div>
        

    </main>
    

</body>
</html>